<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wizualizacja</title>
    <script>
      var url = "{% url 'visualization:result' %}"
    </script>
    {% load static %}
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
	  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{% static 'visualization/style.css' %}">
    <script src="{% static 'visualization/js/index.js' %}"></script>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  
  </head>
  <body>
    <div id="main">

    <h2>Wizualizacja tras przewozu produktów z magazynów do sklepów</h2>
    <form action="{% url 'visualization:find' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <p>Podaj miasto:</p>
          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
          <input type="text" name="city" id="city">
      </fieldset>
      <input type="submit" value="Szukaj">
      </form>
    <p>
      Wylosowano
      {% if shops_nr %}  
        {{ shops_nr }} sklepów, 
      {% endif %} 
      {% if warehouses_nr %} 
        {{ warehouses_nr }} magazynów
      {% endif %}
    </p>

    <div id="div1"></div>
  </div>
  </body>
</html>
