<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wizualizacja</title>
    {% load static %}
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{% static 'visualization/style.css' %}">
    <script src="{% static 'visualization/js/index.js' %}"></script>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  
  </head>
  <body>
    <div id="main">

    <h2 class="header">Wizualizacja tras przewozu produktów z magazynów do sklepów</h2>
    <form action="javascript:visualize()" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="city">Miasto:</label>
          <input type="text" name="city" id="city" value="Wadowice"><br/>
          <label for="shop">Liczba sklepów:</label>
          <input type="number" id="shop" name="shop" value="10"><br/>
          <label for="warehouse">Liczba magazynów:</label>
          <input type="number" id="warehouse" name="warehouse" value="10"><br/>
        <input type="submit" value="Wizualizuj">
      </fieldset>
    </form>

    <div id="divinfo"></div>
    <div id="change"></div>
    <div id="divmap"></div>
  </div>
  </body>
</html>
